<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.e_blood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/materialdrop"
        android:label="E-Blood"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DonorRegistration"
            android:label="E-Blood: Donor Registration" />
        <activity
            android:name=".DonorLogin"
            android:label="E-Blood: Donor Login" />
        <activity
            android:name=".DonorDetails"
            android:label="Your Details" />
        <activity
            android:name=".HospitalRegistration"
            android:label="E-Blood: Hospital Registration" />
        <activity
            android:name=".HopitalLogin"
            android:label="E-Blood: Hospital Login" />
        <activity
            android:name=".DonorList"
            android:label="Donor List" />
    </application>

</manifest>